body {
    margin: 0;
    font-family: arial;
}

#bungkus {
    width: 100%;
    margin: 20px auto 0;
}

#menu ul {
    margin: 0;
    padding: 5px;
    float: left;
}

#menu ul li {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 15px;
}

#maingame{
    margin: 10px auto 0;

}

#Clicker {
    width: 80%;
    float: left;
    text-align: center;
}


#Clicker img:hover{
    background-image: url(imgs/bocchi.gif) no-repeat;
    
}

#Upgrades {
    float: right;
    width: 20%;;
}

#shopButton{
    background-color: grey;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}


#shopButton:hover{
    background-color: lightgray;
    transition: all .2s ease-in-out;
}

#shopButton #images{
    width: 25%;
}

#shopButton img {
    height: 64px;
    width: 64px;
}

#shopButton #nameAndCost p{
    margin: 0px;
    width: 60%;
}

#shopButton #nameAndcost p:first-of-type{
    font-size: 24px;
}

#shopButton #amount {
    font-size: 48px;
    color: #585858;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 15%;
}



